.point {
    width: 0px;
    height: 0px;
    background-color: black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    &-container {
        position: fixed;
        width: 100%;
        margin: auto;
        bottom: 0;
        z-index: 10;
        
        .button-container {
            display: flex;
            justify-content: center;
            opacity: 1;
            transition: 0.2s opacity;
            position: fixed;
            bottom: 0;
            width: 100%;

            svg {
                cursor: pointer;
                transition: 0.2s;
            }

            svg:hover path{
                fill: #D1EFEA !important;
            }
        }
    }
    

    img {
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        position: absolute;
        transition: 0.5s all;
        left: 0;

    }

    .violin, .cello, .guitar {
        @media screen and (max-height: 800px) and (min-width: 600px){
            width: 10vw;
            left: -5vw;
            top: 8vh;
        }

        @media screen and (min-height: 801px) and (min-width: 600px){
            width: 11vw;
            left: -5.5vw;
            top: -1vh;
        }

        @media screen and (max-height: 700px) and (min-width: 600px){
            width: 10vw;
            left: -5vw;
            top: 12vh; 
        }

        &.translated {
            width: 12vw;
            transform: translateX(-35vw) translateY(-100px);

            @media screen and (max-height: 700px) and (min-width: 600px){
                transform: translateX(-35vw) translateY(-50px);
            }
        }

        &.alt-img {
            width: 7vw;
            left: 300px;
            top: 150px;
            position: absolute;
            transition: 0.5s all;

            @media screen and (max-height: 700px) and (min-width: 600px){
                left: 200px;                
            }

            img {
                width: 100%;
                position: relative;
            }
            
            .expanded-button-row {
                display: flex;
                width: 100%;
                justify-content: center;

                button {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 0;
                    margin: 0 5px;
                    cursor: pointer;
                    transition: 0.3s all;
                    outline: 0;
                    padding: 0;
                    
                    .bej & {
                        background-color: #9AB485;
                    }

                    .bej &.selected {
                        background-color: #6B8B51;
                    }

                    .turqouise & {
                        background-color: #BDE2DE;
                    }

                    .turqouise &.selected {
                        background-color: #518B77;
                    }

                    .pink & {
                        background-color: #E2BDBD;
                    }

                    .pink &.selected {
                        background-color: #8B5151;
                    }

                    .orange & {
                        background-color: #F6CD90;
                    }

                    .orange &.selected {
                        background-color: #D27A3D;
                    }

                    .bleu & {
                        background-color: #9CAFF9;
                    }

                    .bleu &.selected {
                        background-color: #6F768E;
                    }
                }
            }
        }
    }

    .flute {
        @media screen and (max-height: 800px) and (min-width: 600px){
            width: 8vw;
            left: -5vw;
            top: 10vh;
        }

        @media screen and (min-height: 801px) and (min-width: 600px){
            top: 3vh;
            width: 8vw;
            left: -5vw;
        }

        @media screen and (max-height: 700px) and (min-width: 600px){
            top: 15vh;
        }

        &.translated {
            width: 10vw;
            transform: translateX(-30vw) translateY(-50px);
        }
    }

    .piano {
        @media screen and (max-height: 800px) and (min-width: 600px){
            width: 25vw;
            left: -12.5vw;
            top: 20vh;
        }

        @media screen and (min-height: 801px) and (min-width: 600px){
            top: 10vh;
            width: 23vw;
            left: -9.5vw;
        }

        @media screen and (max-height: 700px) and (min-width: 600px){
            top: 20vh;
        }

        &.translated {
            width: 28vw;
            transform: translateX(-30vw) translateY(-50px);
        }
    }

    .hidden {
        opacity: 0;
    }

    @media screen and (max-width: 600px) {
        &-container {
            position: absolute;
            overflow: hidden; 
            bottom: unset;
            height: 60vh;
            top: 150px;
        }
        .violin, .cello, .guitar {
            width: 33vw;
            left: -16.5vw;
            top: 310px;

            &.alt-img {
                display: none;
            }

            &.translated {
                width: 33vw;
                left: -16.5vw;
                transform: unset;
            }
        }


        .piano {
            width: 60vw;
            top: 400px;
            left: -30vw;

            &.translated {
                width: 60vw;
                top: 400px;
                transform: unset;
            }
        }

        .flute {
            width: 24vw;
            left: -16.5vw;
            top: 320px;

            
            &.translated {
                width: 24vw;
                left: -16.5vw;
                transform: unset;
            }
        }
        
        &-container {
            .button-container {
                position: relative;
                justify-content: space-between;
                top: 25vh;
            }
        }
    }
}  