.expanded-content-wrapper {
    $duration: 0.2s;
    display: flex;
    justify-content: flex-end;

    .expanded-content {
        display: flex;
        flex-direction: column;
        width: 40%;
        transition: $duration opacity;

        &-title {
            font-family: Roboto;
            font-weight: 800;
            font-size: 32px;
            margin-bottom: 0;

            @media screen and (max-height: 700px) and (min-width: 600px){
                font-size: 28px;
            }
        }

        &-description {
            font-size: 24px;
            margin-top: 22px;
            font-weight: 300;

            @media screen and (max-height: 700px) and (min-width: 600px){
                font-size: 20px;
            }
        }

        &-stars {
            svg {
                margin-right: 12px;
            }
        }

        &-options {
            margin-top: 20px;
            svg {
                margin-right: 12px;
            }
        }
    }

    .close-button {
        outline: 0;
        border: 0;
        background-color: transparent;
        position: absolute;
        right: 0;
        cursor: pointer;
        border-radius: 50%;
        top: 3px;
        right: 3px;
        transition: $duration opacity;
    }

    @media screen and (max-width: 600px) {
        .expanded-content {
            // display: none;
            width: 100%;
            padding: 20px;
        }
    }
}