@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$duration: 0.2s;
.home-page {
    svg.title {
        .cls-1 {
            fill:none;
            stroke: #fff;
            stroke-width: 4px;
        }
        height: 138px;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 70px;

        @media screen and (max-height: 800px) and (min-width: 600px){
            height: 100px;
        }

        @media screen and (max-height: 700px) and (min-width: 600px){
            height: 70px;
        }
    }

    transition: $duration all;

    &.turqouise {
        background-color: #BDE2DE;

        .subtitle {
            color: #518B77;
        }

        .content {
            .description {
                background-color: #D1EFEA;
                color: #518B77;

                .close-button {
                    svg path {
                        fill: #518B77 !important;
                    }

                    &:hover {
                        background-color: #BDE2DE;
                    }
                }

            }

            .find-more {
                &-button {
                    background: #D1EFEA 0% 0% no-repeat padding-box;
                    color: #518B77;    
                }

                &-button:hover {
                    background: #518B77 0% 0% no-repeat padding-box;
                    color: #D1EFEA;                       
                }
            }
        }
    }

    &.bej {
        background-color: #CEE2BD;

        .subtitle {
            color: #9AB485;
        }

        .content {
            .description {
                background-color: #DFEFD1;
                color: #6B8B51;

                .close-button {
                    svg path {
                        fill: #9AB485 !important;
                    }

                    &:hover {
                        background-color: #CEE2BD;
                    }
                }
            }

            .find-more {
                &-button {
                    background: #DFEFD1 0% 0% no-repeat padding-box;
                    color: #6B8B51;    
                }

                &-button:hover {
                    background: #6B8B51 0% 0% no-repeat padding-box;
                    color: #DFEFD1;                       
                }
            }
        }
    }

    
    &.pink {
        background-color: #E2BDBD;

        .subtitle {
            color: #B48585;
        }

        .content {
            .description {
                background-color: #EFD8D1;
                color: #8B5151;

                .close-button {
                    svg path {
                        fill: #B48585 !important;
                    }

                    &:hover {
                        background-color: #E2BDBD;
                    }
                }
            }

            .find-more {
                &-button {
                    background: #EFD8D1 0% 0% no-repeat padding-box;
                    color: #B48585;    
                }

                &-button:hover {
                    background: #B48585 0% 0% no-repeat padding-box;
                    color: #EFD8D1;                       
                }
            }
        }
    }

    &.orange {
        background-color: #F6CD90;

        .subtitle {
            color: #D27A3D;
        }

        .content {
            .description {
                background-color: #FFE8B9;
                color: #D27A3D;

                .close-button {
                    svg path {
                        fill: #D27A3D !important;
                    }

                    &:hover {
                        background-color: #F6CD90;
                    }
                }
            }

            .find-more {
                &-button {
                    background: #FFE8B9 0% 0% no-repeat padding-box;
                    color: #D27A3D;    
                }

                &-button:hover {
                    background: #D27A3D 0% 0% no-repeat padding-box;
                    color: #FFE8B9;                       
                }
            }
        }        
    }

    &.bleu {
        background-color: #9CAFF9;

        .subtitle {
            color: #6F768E;
        }

        .content {
            .description {
                background-color: #DCE3FF;
                color: #6F768E;

                .close-button {
                    svg path {
                        fill: #6F768E !important;
                    }

                    &:hover {
                        background-color: #9CAFF9;
                    }
                }
            }

            .find-more {
                &-button {
                    background: #DCE3FF 0% 0% no-repeat padding-box;
                    color: #6F768E;    
                }

                &-button:hover {
                    background: #6F768E 0% 0% no-repeat padding-box;
                    color: #DCE3FF;                       
                }
            }
        }        
    }

    height: 100%;
    overflow: hidden;

    .subtitle {
        text-align: center;
        font-size: 34px;
        margin-top: -15px;
        text-transform: uppercase;
        font-weight: 900;
        transition: $duration all;

        @media screen and (max-height: 800px) and (min-width: 600px){
            font-size: 24px;
        }

        @media screen and (max-height: 700px) and (min-width: 600px){
            font-size: 18px;
        }
    }

    .content {
        display: flex;
        height: 60vh;
        padding: 0 72px;

        .description {
            width: calc(60% - 72px);
            font-family: 'Montserrat', sans-serif;     
            overflow: hidden;
            transition: 0.5s;
            position: relative;
            display: flex;
            flex-direction: column;

            &.expanded {
                width: 100%;
                padding-right: 135px;
            }

            & > h1 {
                font-size: 24px;
                font-weight: 800;
                font-family: Roboto;
                margin-left: 68px;
                margin-bottom: 0;
                transition: $duration opacity;
                color: inherit;
                opacity: 1;
            }
            
            & > p {
                font-size: 24px;
                margin-top: 23px;
                margin-left: 68px;
                margin-right: 18vw;     
                opacity: 1;                  
                transition: $duration opacity;
                line-height: 1.7;
                
                @media screen and (max-height: 800px) and (min-width: 600px) {
                    font-size: 20px;
                }

                @media screen and (max-height: 700px) and (min-width: 600px){
                    font-size: 15px;
                    margin-top: 30px;
                }
            }
        }

        .find-more {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            &.retracted {
                width: 0%;
            }

            &-button {
                height: 100px;
                width: 60%;
                border-radius: 58px;
                outline: 0;
                border: 0;
                left: 72px;
                position: relative;
                font-size: 40px;
                font-weight: bold;
                cursor: pointer;
                transition: $duration all;
                opacity: 1;

                @media screen and (max-height: 800px) and (min-width: 600px) {
                    font-size: 30px;
                }

                @media screen and (max-height: 700px) and (min-width: 600px){
                    font-size: 24px;
                }
            }
        }
    }

    .hidden {
        opacity: 0 !important;
    }

    @media screen and (max-width: 600px) {
        & {
            padding-bottom: 30px;
            min-height: 100vh;
        }
        
        svg.title {
            height: 50px;
            width: 100%;
            margin-top: 80px;
        }

        .subtitle {
            font-size: 16px;
            margin-top: 0px;
        }

        & .content {
            flex-direction: column-reverse;
            padding: 0 16px;
            height: auto;
            margin-top: 400px;

            &.expanded {
                margin-top: 400px;
            }

            & .description {
                width: 100%;
                margin-top: 20px;
                min-height: 300px;
                transition: all 0.3s;

                &.expanded {
                    padding: 0;
                    min-height: 400px;
                }

                & > p {
                    font-size: 16px;
                    margin: 10px 25px;
                }

                & > h1 {
                    margin: 10px 0;
                    text-align: center;
                }
            }

            .find-more {
                width: 100%;

                button {
                    left: 0;
                    width: 233px;
                    font-size: 20px;
                    height: 57px;
                    z-index: 15;
                }
            }
        }
    }
}


