.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 33px;
    margin-top: 35px;

    svg {
        .a{fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-width:4px;}
        margin-left: 50px;
        height: 38px;
    }

    svg.pink {
        .a {
            stroke: #B48585;
        }
    }

    svg.turqouise {
        .a {
            stroke: #518B77;
        }
    }

    svg.bej {
        .a {
            stroke: #9AB485;
        }
    }

    &-menu {
        display: flex;
        
        .sign-up-button {
            margin-bottom: 3px;
            margin-right: 80px;
            border: 0;
            border-radius: 19px;
            color: #fff;
            width: 120px;
            height: 100%;
            font-size: 20px;
            font-weight: 300;
            transition: 0.3s all;
            cursor: pointer;

            &.turqouise {
                background-color: #518B77;
            }

            &.turqouise:hover {
                background-color: #D1EFEA;
                color: #518B77;
            }

            &.bej {
                background-color: #9AB485;
            }

            &.bej:hover {
                background-color: #DFEFD1;
                color: #6B8B51;
            }

            &.pink {
                background-color: #B48585;
            }

            &.pink:hover {
                color: #B48585;
                background-color: #EFD8D1;
            }
        }

        .link {
            margin-right: 40px;
            position: relative;
            text-align: center;

            a {
                font-size: 22px;
                color: #fff;
                text-decoration: none;
                font-weight: 300;
                position: relative;
    
                .underline {
                    position: absolute;
                }
            }

            div {
                position: absolute;
                width: 0%;
                height: 3px;
                transition: 0.2s all;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                bottom: 0;

                &.bej {
                    background-color: #9AB485;
                }

                &.turqouise {
                    background-color: #518B77;
                }

                &.pink {
                    background-color: #B48585;
                }
            }

            .expanded {
                width: 100%;
            }
    
        }
    }

    @media screen and (max-height: 700px) and (min-width: 600px) {
        svg {
            height: 30px;
        }

        .sign-up-button, .link a {
            font-size: 20px;
        }

        & {
            height: 30px;
        }
    }
}