.point {
    width: 0px;
    height: 0px;
    background-color: black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    &-container {
        position: fixed;
        width: 100%;
        margin: auto;
        bottom: 0;

        .button-container {
            display: flex;
            justify-content: center;

            svg {
                cursor: pointer;
                transition: 0.2s;
            }

            svg:hover path{
                fill: #D1EFEA !important;
            }
        }
    }
    

    img {
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        position: absolute;
        left: 0;
    }

    .violin {
        // @media screen and (max-height: 800px) {
        //     width: 14vw;
        //     left: -7vw;
        //     top: 15vh;
        // }

        // @media screen and (min-height: 801px) {
        //     width: 12vw;
        //     left: -6vw;
        // }
        width: 2vw;
    }

    .piano {
        // @media screen and (max-height: 800px) {
        //     width: 28vw;
        //     left: -13vw;
        //     top: 15vh;
        // }

        // @media screen and (min-height: 801px) {
        //     top: -5vh;
        //     width: 24vw;
        //     left: -12vw;
        // }
        width: 2vw;
    }
}  